@CHARSET "ISO-8859-1";

div.scrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	font-size: 25px;
}

div.scrollmenu a:hover {
	background-color: #777;
}

#logoImg {
	margin-top: 10px;
}

#header{
	width: 100%;
	background-color: #333;
	font-family: serif;
	height: 150px;
}
@media only screen and (max-width: 768px){
	#header{
		margin-bottom: 100px;
	}
}