@CHARSET "ISO-8859-1";

.login-form {
	width: 340px;
	margin: 50px auto;
	border-color: black;
}

.login-form form {
	margin-bottom: 15px;
	background: #c0c0c0;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	font-size: 15px;
	font-weight: bold;
}